.challenge-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1.5rem;
}

.challenge-card {
    padding: 0.75rem;
    text-decoration: none;
    color: var(--charcoal-colour);
    border-radius: 8px;
    display: flex;
    gap: 1.5rem;
    background-color: white;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
    transition: background-color 0.1s;
}

.challenge-card:hover {
    background-color: var(--white-2);
}

.challenge-card-image {
    height: 4rem;
    width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 2px solid #636161;
    background-color: var(--white-1);
}

.challenge-card-image svg {
    height: 2.5rem;
    width: 2.5rem;
    color: #636161;
}

.challenge-card-body {
    display: flex;
    flex-direction: column;
}

.challenge-card-body h3, .challenge-card-body p {
    margin: 0;
}

.challenge-card-body h3 {
    font-weight: 600;
}