.page-header {
    margin-top: 3rem;
    margin-bottom: 1rem;
    color: var(--charcoal-colour);
}

.tabbed-page-header {
    margin-bottom: 2rem;
    background-color: var(--gray-colour-1);
    padding-top: 3rem;
}

.tabbed-page-header h1 {
    font-size: 2rem;
    color: var(--charcoal-colour);
}

.tabbed-container {
    width: 100%;
    padding: 1rem 1rem 0 1rem;
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
}

.tabbed-nav {
    border-bottom: darkgray 2px solid;
    display: flex;
    justify-content: space-between;
}

.tabbed-nav-link, .tabbed-nav-link:visited {
    position: relative;
    text-decoration: none;
    color: var(--charcoal-colour);
    padding: 0.5rem 1rem;
    border-top-left-radius: var(--radius-small);
    border-top-right-radius: var(--radius-small);
    background-color: transparent;
}

.tabbed-nav-link:hover {
    background-color: var(--gray-colour-1);
}

.tabbed-nav-link-active, .tabbed-nav-link-active:visited {
    color: darkslategray;
    border-bottom: darkslategrey 3px solid;
}

.tabbed-page-body {
    padding: 0 2rem;
    color: var(--charcoal-colour);
}

.tabbed-page-body .subheader {
    margin-bottom: 1.5rem;
}

.tabbed-page-body .content p {
    white-space: pre-wrap;
}