.centered-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.login-form-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    max-width: 360px;
    border-radius: 6px;
    border: 2px solid #ccc;
    padding: 1rem 2rem;
}

.login-form-container form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.login-form-header {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    margin-bottom: 1rem;
}

.login-form-header h2 {
    font-size: 2rem;
}

.login-form-header p {
    font-size: 0.75rem;
    color: dimgray;
}

.login-form-control {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.login-form-control label {
    font-size: 0.8rem;
    font-weight: 600;
}

.login-form-control input {
    border-radius: 4px;
    border: 1px solid var(--gray-colour-3);
    padding: 0.5rem 0.75rem;
    line-height: 1;
}

.login-form-button {
    width: 100%;
    border-radius: 4px;
    border: none;
    padding: 0.5rem 0;
    background-color: var(--primary-btn-bg-colour);
    color: white;
}

.login-form-button:hover {
    background-color: var(--primary-btn-bg-colour-hover);
}

.login-form-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form-footer p {
    font-size: 0.75rem;
    color: dimgray;
}