.centered-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.login-form-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    max-width: 360px;
    border-radius: var(--radius-medium);
    border: none;
    background-color: white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.05);
    padding: 1.5rem 2rem;
}

.login-form-container form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.login-form-header {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    margin-bottom: 1rem;
}

.login-form-header h2 {
    font-size: 2rem;
    color: var(--charcoal-colour);
}

.login-form-header p {
    font-size: 0.75rem;
    color: dimgray;
}

.login-form-control {
    /*display: flex;*/
    /*flex-direction: column;*/
    /*gap: 0.5rem;*/
}

.login-form-control label {
    font-size: 0.9rem;
    font-weight: 600;
    color: var(--charcoal-colour);
    width: 100%;
    display: block;
    margin-bottom: 0.2rem;
}

.login-form-control input {
    border-radius: var(--radius-small);
    border: 1px solid var(--gray-colour-2);
    padding: 0.6rem 0.75rem;
    line-height: 1.2;
    transition: border-color 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
    background-color: #fafafa;
    width: 100%;
    margin-bottom: 0.5rem;
}

.login-form-control input:focus {
    border-color: var(--primary-colour);
    box-shadow: 0 0 0 1px var(--primary-colour);
    outline: none;
}

.login-form-button {
    width: 100%;
    border-radius: 4px;
    border: none;
    padding: 0.75rem 0;
    font-weight: 600;

    letter-spacing: 0.5px;
    background-color: var(--primary-btn-bg-colour);
    color: white;
    transition: background-color 0.1s ease-in-out;
}

.login-form-button:hover {
    background-color: var(--primary-btn-bg-colour-hover);
}

.login-form-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form-footer p {
    font-size: 0.75rem;
    color: dimgray;
}

.error-message {
    border-radius: 2px;
    color: #e32525;
    background-color: #ffeeee;
    padding: 0.5rem 1rem;
    line-height: 1;
    font-size: 0.75rem;
}