.dataset-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem 1.5rem;
    border-radius: var(--radius-small);
    background-color: white;
    transition: background-color 0.1s;
}

.dataset-item:hover {
    background-color: var(--white-2);
}

.dataset-table-wrapper {
    margin-bottom: 1.5rem;
}

.dataset-table {
    display: grid;

    width: 100%;
    grid-template-columns:
            minmax(100px, auto)
            minmax(100px, auto)
            1fr
            minmax(150px, auto);
}

.dataset-table .header, .dataset-table .dataset-row {
    grid-column: 1/ -1;
    display: grid;
    grid-template-columns: subgrid;
    align-items: center;
}

.dataset-table .header > div {
    padding: 0.5rem 0.5rem;
}

.dataset-table .dataset-row > div {
    padding: 0.75rem 0.5rem;
}

.dataset-table .header {
    background-color: var(--gray-colour-1);
    border-top-left-radius: var(--radius-small);
    border-top-right-radius: var(--radius-small);
}

.dataset-row + .dataset-row {
    border-top: 3px solid var(--gray-colour-1);
}

.dataset-table .download-col {
    display: flex;
    justify-content: center;
}

.download-button {
    width: fit-content;
    display: flex;
    justify-content: center;
    padding: 0.35rem 1.2rem;
    background-color: var(--primary-btn-bg-colour);
    color: white;
    text-decoration: none;
    border-radius: var(--radius-small);
    font-weight: 600;
    transition: background-color 0.2s;
}

.download-button:hover {
    background-color: var(--primary-btn-bg-colour-hover);
}

.download-button svg {
    height: 1.5rem;
    width: 1.5rem;
}