.challenge-submit-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.horizontal-form-control {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.form-control {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.form-control label {
    font-size: 0.8rem;
    font-weight: 600;
}

.form-control input {
    border-radius: 4px;
    border: 1px solid whitesmoke;
    padding: 0.5rem 0.75rem;
    line-height: 1;
}

.form-button {
    width: 100%;
    border-radius: 4px;
    border: none;
    padding: 0.5rem 0;
    background-color: var(--primary-btn-bg-colour);
    color: white;
}

.form-button:hover {
    background-color: var(--primary-btn-bg-colour-hover);
}

.error-message {
    border-radius: 2px;
    color: #e32525;
    background-color: #ffeeee;
    padding: 0.5rem 1rem;
    line-height: 1;
    font-size: 0.75rem;
}

.w-50 {
    width: 50%;
}