.admin-modal-container {
    margin: auto;

    border: none;
    border-radius: var(--radius-small);
    background-color: var(--white-1);
}

.admin-modal {
    display: flex;
    flex-direction: column;
    width: min(75vw, 55rem);
    height: auto;
    max-height: 80vh;
}

.admin-modal::backdrop {
    opacity: 0.20;
}

.admin-modal-header, .admin-modal-body, .admin-modal-footer {
    padding-left: 1.7rem;
    padding-right: 1.7rem;
}

.admin-modal-header {
    flex-shrink: 0;
    border-bottom: 1px solid var(--gray-colour-3);
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}

.admin-modal-body {
    flex-grow: 1;
    overflow-y: auto;
    padding-top: 1.5rem;
}

.admin-modal-header .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.admin-modal-body > .section:not(:last-child) {
    margin-bottom: 2rem;
}

.admin-modal-body .section .section-header {
    display: inline-block;
    padding-right: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid darkslategrey;
    color: darkslategrey;
}

.admin-modal-footer {
    flex-shrink: 0;
    display: flex;
    justify-content: flex-end;

    padding-top: 1.7rem;
    padding-bottom: 1.7rem;
}

.admin-modal-footer .footer-content {
    display: flex;
    gap: 1rem;
}

.admin-modal-footer .footer-content button {
    border-radius: var(--radius-small);
    border: none;
    padding: 0.65rem 0.75rem;
}


.admin-modal-footer .footer-content .cancel-btn {
    background-color: var(--gray-colour-2);
}

.admin-modal-footer .footer-content .cancel-btn:hover {
    background-color: var(--gray-colour-3);
}

.admin-modal-footer .footer-content .confirm-btn {
    padding: 0.65rem 1rem;
    background-color: var(--primary-btn-bg-colour);
    color: white;
}

.admin-modal-footer .footer-content .confirm-btn:hover {
    background-color: var(--primary-btn-bg-colour-hover);
}

.overview-section-item {
    display: flex;
    margin-bottom: 0.25rem;
}

.overview-section-item .label, .overview-section-item .value {
    line-height: 1.25rem;
}

.overview-section-item .label {
    display: flex;
    flex-basis: 150px;
    color: var(--charcoal-colour);
}

.overview-section-item .value {
    display: flex;
    flex-basis: 0;
    flex-grow: 1;
    font-weight: 600;
}

.tm-details-table-wrapper {
    border-radius: var(--radius-small);
    border: 1px solid var(--gray-colour-3);
    width: 70%;
}

.tm-details-table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

.tm-details-table td, .tm-details-table th {
    border: none;
    text-align: left;
    vertical-align: middle;
    padding: 0.8rem 0.75rem;
    color: var(--charcoal-colour);
}

.tm-details-table th {
    background-color: var(--gray-colour-1);
    font-weight: 600;
    font-size: 0.9rem;
}

.tm-details-table td {
    font-size: 0.9rem;
}

.tm-details-table tr {
    border-bottom: 2px solid #ccc;
}

.tm-details-table tbody tr:last-child {
    border-bottom: none;
}

.tm-details-table .text-center {
    text-align: center;
}

.x-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.4rem;
    background: none;
    border: none;
    border-radius: var(--radius-small);
}

.x-button:hover {
    color: var(--charcoal-colour);
    background-color: var(--gray-colour-2);
}