.nav-container {
    position: sticky;
    top: 0;
    width: 100%;
}

.navbar {
    width: 100%;
    align-items: center;
    padding: 0 2rem;
    background-color: #2f3e3e;
    display: flex;
    justify-content: space-between;
    height: 4rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.nav-link, .nav-link:visited {
    border-radius: var(--radius-small);
    position: relative;
    padding: 0.5rem 0.5rem;
    color: var(--white-1);
    text-decoration: none;
    line-height: 1.5;
    transition: background-color 0.25s;
}

.nav-link:hover {
    background-color: #3f4d4d;
}

.nav-link-active::after {
    border-radius: 8px;
    content: "";
    position: absolute;
    bottom: -2px;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    width: 100%;
    background-color: #7e8989;
}

.nav-button {
    border-radius: 8px;
    border: none;
    padding: 0.5rem 0.75rem;
    background-color: var(--primary-btn-bg-colour);
    color: white;
    font-weight: 500;
    line-height: 1.5;
}

.nav-button:hover {
    background-color: var(--primary-btn-bg-colour-hover);
}