.dropzone-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.dropzone, .dropzone-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dropzone {
    height: calc(2rem * 6);
    width: 100%;
    border-radius: 4px;
    border: 2px dashed lightgray;
    cursor: pointer;
    margin-bottom: 1rem;
}

.dropzone:hover {
    background-color: #f3f4f6;
}

.dropzone-text {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.dropzone-text p {
    color: dimgray;
    font-size: 0.8rem;
}

.dropzone-text span {
    font-weight: 700;
}

.dropzone-icon {
    color: dimgray;
    height: 2rem;
    width: 2rem;
    margin-bottom: 0.25rem;
}

.uploaded-files-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    border-radius: 4px;
    border: 2px solid var(--gray-colour-2);
    padding: 1rem 1rem;
}

.uploaded-files-list h4 {
    color: var(--charcoal-colour);
}

.file-info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
    /*border: 2px solid #9b9c99;*/
    padding: 0.25rem 1rem;
    background-color: #fafafa;
}

.file-info .left-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.file-size {
    font-size: 0.8rem;
    color: #6a6a6a;
    font-weight: 600;
}

.cross-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    border-radius: 4px;
    padding: 0.3rem;
}

.cross-button:hover {
    background-color: #efefef;
}

.cross-button:hover svg {
    color: #9c1e1e;
}

.cross-button svg {
    color: #cd1a1a;
    height: 1.5rem;
    width: 1.5rem;
}

.file-icon {
    color: dimgray;
    height: 2.2rem;
    width: 2.2rem;
}


