.leaderboard-container {
    margin-bottom: 1.5rem;
}

.leaderboard-wrapper {
    border-radius: var(--radius-small);
    border: 1px solid #b8bdc8;
    width: auto;
}

.leaderboard {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

.leaderboard td, th {
    border: none;
    text-align: left;
    vertical-align: middle;
    padding: 1rem 0.75rem;
    color: var(--charcoal-colour);
}

.leaderboard th {
    background-color: var(--gray-colour-1);
    font-weight: 600;
}

.sortable-header svg {
    height: 1rem;
    width: 1rem;
    vertical-align: middle;
    margin-left: 0.25rem;
    color: #b8bdc8;
}

.leaderboard tr {
    border-bottom: 2px solid #ccc;
}

.leaderboard tbody tr:hover {
    background-color: var(--gray-colour-1);
}

.leaderboard tbody tr:last-child {
    border-bottom: none;
}

.leaderboard .text-center {
    text-align: center;
}

.leaderboard .active-icon {
    color: var(--charcoal-colour);
}