:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    /*-webkit-font-smoothing: antialiased;*/
    -moz-osx-font-smoothing: grayscale;

    --primary-colour: darkslategrey;
    --primary-btn-bg-colour: darkslategrey;
    --primary-btn-bg-colour-hover: #3f5f5f;
    --charcoal-colour: #414144;
    --charcoal-colour-disabled: #41414492;
    --gray-colour-1: #f2f2f2;
    --gray-colour-2: #e7e7e7;
    --gray-colour-3: #b8bdc8;
    --red-1: #cd1a1a;
    --red-2: #9c1e1e;
    --radius-small: 4px;
    --radius-medium: 8px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
    background-color: white;
    color: black;
}

.page-content {
    margin-left: auto;
    margin-right: auto;
}

.not-found-page {
    height: 100vh;

    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    align-items: center;

    padding: 5rem;
}

.not-found-page .heading {
    line-height: 1;
    font-size: 20rem;
    margin-top: 2rem;
    margin-bottom: 1rem;

    color: darkslategrey;
}

.not-found-page .subheading {
    font-weight: 600;
    line-height: 1;
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.not-found-page .text {
    font-weight: 500;
    font-size: 1.5rem;
    margin-bottom: 3rem;
    color: var(--charcoal-colour);
}

.not-found-page .link-button {
    width: fit-content;
    border-radius: var(--radius-small);
    border: none;
    padding: 0.5rem 3rem;
    background-color: var(--primary-btn-bg-colour);
}

.not-found-page .link-button a, .not-found-page .link-button a:visited {
    font-size: 1.1rem;
    color: white;
    text-decoration: none;
}

.not-found-page .link-button:hover {
    background-color: var(--primary-btn-bg-colour-hover);
}

@media (min-width: 1280px) {
    .page-content {
        max-width: 1200px;
    }
}